<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
<title>Preskool - Subjects</title>
<link rel="shortcut icon" href="~/preskool/assets/img/favicon.png">

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,400&display=swap">

<link rel="stylesheet" href="~/preskool/assets/plugins/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="~/preskool/assets/plugins/feather/feather.css">

<link rel="stylesheet" href="~/preskool/assets/plugins/icons/flags/flags.css">

<link rel="stylesheet" href="~/preskool/assets/plugins/fontawesome/css/fontawesome.min.css">
<link rel="stylesheet" href="~/preskool/assets/plugins/fontawesome/css/all.min.css">

<link rel="stylesheet" href="~/preskool/assets/plugins/datatables/datatables.min.css">

<link rel="stylesheet" href="~/preskool/assets/css/style.css">
</head>
<body>

<div class="main-wrapper">

<div class="header">

<div class="header-left">
<a href="index.html" class="logo">
<img src="~/preskool/assets/img/logo.png" alt="Logo">
</a>
<a href="index.html" class="logo logo-small">
<img src="~/preskool/assets/img/logo-small.png" alt="Logo" width="30" height="30">
</a>
</div>

<div class="menu-toggle">
<a href="javascript:void(0);" id="toggle_btn">
<i class="fas fa-bars"></i>
</a>
</div>

<div class="top-nav-search">
<form>
<input type="text" class="form-control" placeholder="Search here">
<button class="btn" type="submit"><i class="fas fa-search"></i></button>
</form>
</div>


<a class="mobile_btn" id="mobile_btn">
<i class="fas fa-bars"></i>
</a>


<ul class="nav user-menu">
<li class="nav-item dropdown language-drop me-2">
<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
<img src="~/preskool/assets/img/icons/header-icon-01.svg" alt="">
</a>
<div class="dropdown-menu">
<a class="dropdown-item" href="javascript:;"><i class="flag flag-lr me-2"></i>English</a>
<a class="dropdown-item" href="javascript:;"><i class="flag flag-bl me-2"></i>Francais</a>
<a class="dropdown-item" href="javascript:;"><i class="flag flag-cn me-2"></i>Turkce</a>
</div>
</li>

<li class="nav-item dropdown noti-dropdown me-2">
<a href="#" class="dropdown-toggle nav-link header-nav-list" data-bs-toggle="dropdown">
<img src="~/preskool/assets/img/icons/header-icon-05.svg" alt="">
</a>
<div class="dropdown-menu notifications">
<div class="topnav-dropdown-header">
<span class="notification-title">Notifications</span>
<a href="javascript:void(0)" class="clear-noti"> Clear All </a>
</div>
<div class="noti-content">
<ul class="notification-list">
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="~/preskool/assets/img/profiles/avatar-02.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Carlson Tech</span> has approved <span class="noti-title">your estimate</span></p>
<p class="noti-time"><span class="notification-time">4 mins ago</span></p>
 </div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="~/preskool/assets/img/profiles/avatar-11.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">International Software Inc</span> has sent you a invoice in the amount of <span class="noti-title">$218</span></p>
<p class="noti-time"><span class="notification-time">6 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="~/preskool/assets/img/profiles/avatar-17.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">John Hendry</span> sent a cancellation request <span class="noti-title">Apple iPhone XR</span></p>
<p class="noti-time"><span class="notification-time">8 mins ago</span></p>
</div>
</div>
</a>
</li>
<li class="notification-message">
<a href="#">
<div class="media d-flex">
<span class="avatar avatar-sm flex-shrink-0">
<img class="avatar-img rounded-circle" alt="User Image" src="~/preskool/assets/img/profiles/avatar-13.jpg">
</span>
<div class="media-body flex-grow-1">
<p class="noti-details"><span class="noti-title">Mercury Software Inc</span> added a new product <span class="noti-title">Apple MacBook Pro</span></p>
<p class="noti-time"><span class="notification-time">12 mins ago</span></p>
</div>
</div>
</a>
</li>
</ul>
</div>
<div class="topnav-dropdown-footer">
<a href="#">View all Notifications</a>
</div>
</div>
</li>

<li class="nav-item zoom-screen me-2">
<a href="#" class="nav-link header-nav-list">
<img src="~/preskool/assets/img/icons/header-icon-04.svg" alt="">
</a>
</li>

<li class="nav-item dropdown has-arrow new-user-menus">
<a href="#" class="dropdown-toggle nav-link" data-bs-toggle="dropdown">
<span class="user-img">
<img class="rounded-circle" src="~/img/profile/@(User.FindFirst("profile").Value??"profile.jpg")" width="31" alt="User Image">
<div class="user-text">
<h6>@User.Identity.Name</h6>
<p class="text-muted mb-0">Administrator</p>
</div>
</span>
</a>
<div class="dropdown-menu">
<div class="user-header">
<div class="avatar avatar-sm">
<img src="~/img/profile/@(User.FindFirst("profile").Value??"profile.jpg")" alt="User Image" class="avatar-img rounded-circle">
</div>
<div class="user-text">
<h6>@User.Identity.Name</h6>
<p class="text-muted mb-0">Administrator</p>
</div>
</div>
<a class="dropdown-item" >My Profile</a>
<a class="dropdown-item" asp-controller="home" asp-action="Index" >Inbox</a>
<a class="dropdown-item" asp-area="account" asp-controller="Logout" asp-action="Index">Logout</a>
</div>
</li>

</ul>

</div>


<div class="sidebar" id="sidebar">
<div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
<span>Main Menu</span>
</li>
<li class="submenu">
<a href="#"><i class="feather-grid"></i> <span> Dashboard</span> <span class="menu-arrow"></span></a>
<ul>
<li><a  asp-action="Index" asp-controller="dashboard" >Admin Dashboard</a></li>
<li><a >Teacher Dashboard</a></li>
<li><a >Student Dashboard</a></li>
</ul>
</li>
<li class="submenu">
<a href="#"><i class="fas fa-user"></i> <span> المستخدم</span> <span class="menu-arrow"></span></a>
<ul>
<li><a asp-action="listUser" asp-controller="dashboard">قائمة المستخدم</a></li>
<li><a asp-action="ListMer" asp-controller="dashboard">قائمة التجار</a></li>

</ul>
</li>
<li class="submenu">
<a href="#"><i class="fab fa-product-hunt"></i><span> المنتجات</span> <span class="menu-arrow"></span></a>
<ul>
<li><a asp-action="ListProduct" asp-controller="dashboard">قائمة المنتجات</a></li>
<li><a asp-action="ListProductDis" asp-controller="dashboard">قائمة غير المفعل</a></li>
</ul>
</li>
</ul>
</div>
</div>
</div>


<div class="page-wrapper">

      @RenderBody()
<footer>
<p>Copyright © 2022 Dreamguys.</p>
</footer>

</div>

</div>


<script src="~/preskool/assets/js/jquery-3.6.0.min.js"></script>

<script src="~/preskool/assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>

<script src="~/preskool/assets/js/feather.min.js"></script>

<script src="~/preskool/assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>

<script src="~/preskool/assets/plugins/datatables/datatables.min.js"></script>


<script src="~/preskool/assets/js/script.js"></script>



    <script>
        $(document).ready(function () {
        if ('@ViewBag.data' != null)
        {
            if('@ViewBag.activeT' != null)
           $('#' + '@ViewBag.activeT').addClass('active');
           $('#' + '@ViewBag.data').addClass('active');
        }
    });
        </script>
        

</body>
</html>